body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* oder center, wenn alles vertikal zentrieren willst */
  font-family:
    Helvetica, Arial, Verdana, Tahoma; /* https://rules.sonarsource.com/css/RSPEC-4649/ */
}

#root {
  width: 100%;
  max-width: 400px;
}
